@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;

}

@layer base {
  button {
    @apply cursor-pointer;

  }

  input:not([type="checkbox"]) {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
  textarea{
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #resume-print, #resume-print * {
    visibility: visible;
  }

  #resume-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
